//@import '~@theforeman/vendor/scss/variables';

.pf-v5-c-card__body:first-child {
  padding-top: 1rem;
}

.pf-v5-c-form__label {
    font-size: var(--pf-v5-global--FontSize--sm);
}

.pf-v5-c-form__group-label-help {
  font-size: var(--pf-v5-global--FontSize--sm);
}
