.progress-disabled {
  background-color: transparent;
  .pf-v5-c-progress .pf-v5-c-progress__bar::before {
    background-color: var(--pf-v5-global--disabled-color--100);
  }
}

.progress-disabled .pf-v5-c-progress.pf-v5-m-inside .pf-v5-c-progress__indicator {
  background-color: var(--pf-v5-global--palette--black-500);
}
