---
name: Ruby Tests
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rubocop:
    uses: theforeman/actions/.github/workflows/rubocop.yml@v0
    with:
      command: bundle exec rubocop --parallel --format github
  test:
    name: Ruby
    needs: rubocop
    uses: theforeman/actions/.github/workflows/foreman_plugin.yml@v1
    with:
      plugin: foreman_resource_quota
